<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<form id="slick-login" action="/login" method="post">
		<label for="username">Логин:</label><input type="text" name="username" class="placeholder" placeholder="Логин">
		<label for="password">Пароль:</label><input type="password" name="password" class="placeholder" placeholder="Пароль">
		<input type="submit" value="ВОЙТИ">
	</form>
</body>
</html>